:root {
  --primary-color: white;
  --secondary-color: black;
  --background-color: rgba(90, 21, 90, 0.863);
}

* {
  /* margin: 0; */
  font-family: sans-serif;
}

header {
  padding: 15px;
}

header,
footer {
  background-color: var(--background-color);
  background-image: radial-gradient(
    var(--background-color) 50%,
    rgb(30, 9, 30)
  );
  color: var(--primary-color);
  text-align: center;
  text-shadow: 0 0 5px yellow;
}

.list-section {
  color: white;
  text-shadow: 0 0 5px black;
  background-image: url(big3.jpeg);
  background-repeat: no-repeat;
  background-color: rgba(152, 85, 214, 0.226);
  background-blend-mode: multiply;
  background-size: cover;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 150px;
  background-position: 0 -90px;
  padding-top: 40px;
}

.list-section h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.list-section ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 2px;
}

.table-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
td {
  border: 1px solid rgb(180, 177, 177);
}
th {
  color: var(--primary-color);
  background-color: var(--background-color);
}

th,
td {
  height: 40px;
}

td {
  padding-left: 9px;
  text-align: center;
}

footer {
  padding: 8px;
}

footer p {
  margin: 0px;
}
